body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #646262;
    color: #ffffff;
    text-align: center;

}

.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #ffffff;
}

form {
    text-align: center;
}

input[type="file"] {
    display: block;
    margin: 20px auto;
}

button[type="submit"] {
    background-color: #f77c17;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #f77c17;
}
