
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Webpage Design</title>
  
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  
  <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>
<body>

  <div class="main">
    <div class="navbar">
      <div class="icon">
        <h2 class="logo">LesEtoiles</h2>
      </div>

      <div class="menu">
        <ul>
          <li><a href="#">HOME</a></li>
          <li><a href="visualiser-excel/">Fichier_XLSX</a></li>
          <li><a href="#">SERVICE</a></li>
          <li><a href="#">CONTACT</a></li>
        </ul>
      </div>
    </div>
     <div class="content">
      <h1><span>Problème du voyageur de commerce</span> </h1>
      <p class="par">Notre application vise a minimiser les problemes des voyageur en lui optimisant la route
      </p>
    </div> 
  </div>
  </div>
  </div>
  <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</body>

</html>