<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graph</title>
    <!-- Include Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <!-- Include Plotly scripts -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body class="bg-gray-100 h-screen flex flex-col justify-center items-center">
    <!-- Graph container with Tailwind CSS classes -->
        <!-- Render the Plotly graph -->
        {{ plot_div|safe }}
</body>

</html>
